services:
  app-minio:
    container_name: app-minio
    restart: always
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    ports:
      - '9000:9000'
      - '9001:9001'
    expose:
      - '9000:9000'
      - '9001:9001'
    networks:
      - app_network
    volumes:
      - 'minio-data:/data'
    environment:
      MINIO_ROOT_USER: app-s3
      MINIO_ROOT_PASSWORD: ZiZTQtMGM3ZC00NWNmL
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/ready" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  app-minio-setup:
    container_name: app-minio-setup
    image: quay.io/minio/mc:RELEASE.2025-04-16T18-13-26Z
    depends_on:
      app-minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      echo '>> Aguardando MinIO ficar saudável...' &&
      sleep 2 &&
      mc alias set local http://app-minio:9000 app-s3 ZiZTQtMGM3ZC00NWNmL &&
      echo '>> Criando bucket...' &&
      mc mb local/app/photos --ignore-existing &&
      echo '>> Definindo política pública de download...' &&
      mc anonymous set download local/app/photos &&
      echo '>> Configuração concluída com sucesso!' &&
      exit 0
      "
    networks:
      - app_network

  app-postgres:
    container_name: app-postgres
    image: postgres:16-alpine
    restart: always
    ports:
      - "5435:5432"
    volumes:
      - 'postgres-data:/var/lib/postgresql/data'
    environment:
      TZ: America/Sao_Paulo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db_api
    networks:
      - app_network

  app-api:
    container_name: app-api
    restart: always
    build: ./api
    ports:
      - "8080:8080"
    depends_on:
      - app-postgres
      - app-minio-setup
    networks:
      - app_network

  app-web:
    build: ./web
    container_name: app-web
    restart: always
    ports:
      - "85:80"
    depends_on:
      - app-api
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  minio-data:
    driver: local
  postgres-data:
    driver: local