<div class="container mt-5">
  <h2 class="my-3">Álbum de Fotos</h2>
  <form class="row g-3" [formGroup]="albumForm">
    <div class="col-md-12">
      <label for="inputTitle" class="form-label">Título</label>
      <input formControlName="title" type="text" class="form-control" id="inputTitle" placeholder="Digite o título do álbum">
    </div>

    <p-fileUpload
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      (onUpload)="onUpload($event)"
      [multiple]="true"
      accept="image/*"
      maxFileSize="1000000">
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">
            {{ file.name }} - {{ file.size }} bytes
          </li>
        </ul>
      </ng-template>
    </p-fileUpload>

    <div class="col-12">
      <button type="submit" class="btn btn-primary px-xl-4" (click)="save()">Salvar</button>
      <button type="button" class="btn btn-danger ms-lg-3" [routerLink]="['']">Cancelar</button>
    </div>
  </form>
</div>
