<div class="d-flex align-items-center justify-content-between">
  <button [routerLink]="['']" type="button" class="btn btn-primary ms-lg-3 mb-5">Voltar</button>
  <button *ngIf="userId != null && userId === postResponseDTO?.user?.id"
          (click)="deletePost()"
          type="button" class="btn btn-danger ms-lg-3 mb-5">
    Excluir publicação
  </button>
</div>

<div *ngIf="postResponseDTO">
  <h1>{{ postResponseDTO.title }}</h1>
  <p class="fw-light">Autor: {{ postResponseDTO.user.name }} <br>
    Data: {{ postResponseDTO.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
</div>

<div [innerHTML]="postHtml" class="my-5">
</div>

<h2 class="mb-5">Comentários</h2>

<form *ngIf="userToken != null" [formGroup]="commentForm">
  <div class="mb-3">
    <textarea formControlName="content" class="form-control" rows="3" placeholder="Adicione um comentário"></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary px-xl-4 mb-5" (click)="comment()">Comentar</button>
  </div>
</form>


<div *ngIf="postResponseDTO?.comments">
  <div class="card mb-3" *ngFor="let comment of postResponseDTO.comments">
    <div class="card-body">
      <h5 class="card-title">{{ comment.user.name }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ comment.createdAt | date: 'd/MM/yyyy HH:mm' }}</h6>
      <p class="card-text mb-1">{{ comment.content }}</p>
      <a *ngIf="userId === comment.user.id" href="javascript:void(0)" (click)="deleteComment(comment.id)" class="link-danger">Excluir comentário</a>
    </div>
  </div>
</div>
