<div class="d-flex align-items-center justify-content-between">
  <button [routerLink]="['']" type="button" class="btn btn-primary ms-lg-3 mb-5">Voltar</button>
  <button *ngIf="userId != null && userId === albumResponseDTO?.user?.id" type="button"
          (click)="deleteAlbum()"
          class="btn btn-danger ms-lg-3 mb-5">
    Excluir álbum
  </button>
</div>

<div *ngIf="albumResponseDTO">
  <h1>{{ albumResponseDTO.title }}</h1>
  <p class="fw-light">Autor: {{ albumResponseDTO.user.name }} <br>
    Data: {{ albumResponseDTO.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
</div>

<p-galleria [value]="photos" [showIndicators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="true"
            indicatorsPosition="left" [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '100%','margin-top': '2em' }">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.url" style="width: 100%; display: block;"/>
  </ng-template>
  <ng-template pTemplate="indicator" let-index>
            <span style="color: #e9ecef; cursor: pointer">
                {{ index + 1 }}
            </span>
  </ng-template>
</p-galleria>

